$textColor: #efefef;
$bodyColor: #1a1a20;
$navbarColor: #24242f;
$highlightColor: #4e4e63;
$fadedColor: #9a8dac;
$footerColor: #171717;
$containerColor: #000000bf;
$shadowColor: #0000008f;
$popupColor: #323241;
$popupHoverColor: #3f3f4e;
$popupInputColor: #62627a;
$removeColor: #fb5959;
$removeHoverColor: #ff6c6c;
$cardColor: #23232b;
$cardHighlightColor: #2d2d3a;
